body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 14px;
    background: #fff;
    width: 1240px;
    height: 100%;
}
html {
    height: 100%;
    display: flex;
}

/* header */

.header {
    height: 60px;
    width: 100%;
    background: aliceblue;
}
.sub-header {
    height: 60px;
    background: antiquewhite;
    margin: 0 auto;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;   
}
.layout {
    display: flex;
}
.layout-content {
    width: 930px;
    height: 1445px;
}
.layout-sidebar {
    width: 270px;
    height: 600px;
    background: aqua;
}
.sidebar-content {
    height: 490px;
    width: 190px;
    margin: 110px 40px 40px;
    background: aquamarine;
}

/* layout-sofa */

.layout-sofa {
    height: 470px;
    width: 930px;
    background: azure;
}
.section-layout {
    height: 390px;
    width: 870px;
    background: aquamarine;
    display: inline-block;
    margin: 40px 0px;
}
.menu {
    width: 870px;
    height: 16px;
    background: antiquewhite;   
}
.product-sofa {
    width: 870px;
    height: 330px;
    margin-top: 40px;
    display: flex;
}
.product-priview {
    width: 400px;
    height: 330px;
    margin-right: 40px;
}
.product-priview-inner {
    width: 400px;
    height: 244px;
    background: antiquewhite;
}
.product-content-sofa {
    height: 330px;
    width: 360px;
    background: antiquewhite;
    flex-grow: 1;
}
.product-side-sofa {
    width: 50px;
    height: 330px;
    padding-left: 20px;
}
.product-side-inner {
    width: 50px;
    height: 172px;
    background: antiquewhite;
    position: relative;
}

/* .layout-interior */

.layout-interior {
    width: 930px;
    height: 523px;
    background: beige;
    position: relative;
}
.showcase {
    width: 930px;
    height: 523px;   
}
.layout-interior-img {

}
.showcase-summary {
    background: aqua;
    width: 233px;
    height: 230px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.showcase-priviews {
    height: 105px;
    width: 450px;
    transform: translateY(50%);
    background: #2f2f2f;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

/* .layout-features */

.layout-features {
    height: 450px;
    width: 930px;
    background: bisque;
}
.columns-features {

}
.columns-item {
    height: 450px;
    width: 25.1%;
    display: inline-block;
    /* margin-left: -4px; */
    margin-right: -4px;
}
.feature {
   display: flex;
   padding: 30px; 
}

/* section-recomendation */

.section-purchases {
    /* width: 100%;
    height: 485px; */
    background: #f1f1f1;
    padding: 40px 0;
}
.purchases-content {
    display: flex;
    height: 403px;
    width: 1200px;
    background: cornsilk;
    margin: 0 auto
}
.purchases-content-side {
    background: #2f2f2f; 
    width: 260px;
    height: 403px;
    box-sizing: border-box;
    margin-right: 40px;
}
.purchases-content-inner {
   flex-grow: 1;
}
.purchases-inner-columns {

}
.item-columns {
    width: 33%;
    height: 403px;   
    display: inline-block;
    vertical-align: top;
    background: chocolate;
}
.product-card {
   background: #f1f1f1;
   height: 303px;  
   width: 240px;
   margin: 30px;
}


/* gallery-clients */

.section-gallery-clients {
    background: #f1f1f1;
}
.section-gallery {
    display: flex;
}
.section-gallery-side {
    background: beige;
    width: 260px;
    height: 400px;
    margin-right: 40px;
}
.section-gallery-inner {
    flex-grow: 1;
}
.gallery {
    position: relative;
    background: #2f2f2f;
    height: 400px;
    display: flex;
    width: 940px;
}
.main-gallery {
   background: #a83e3e;
   width: 640px;
   height: 400px;
   flex-grow: 1;
}
.side-gallery {
  width: 300px;
  height: 400px;
}
.gallery-item {
  height: 200px;
  width: 300px;
}

/* footer */

.footer {
    background: cadetblue;
    border-top: 1px solid #dedede;
    padding: 40px 0;
    margin-top: 40px;
}
.footer-inner {
    background: #dedede;
    width: 1200px;
    height: 170px;
}
/* .page-wrap::after {
    content: '';
    display: block;
}
.footer, .page-wrap::after {
    height: 170px;
} */
#page-wrap {
    min-height: 61%;
    /* margin-bottom: -190px; */
}